body{
  color: rgb(53, 53, 53);
  background-color: rgb(240, 214, 187);
  margin: 50px
}

p, a, input, button{ /*now how to add other fonts?*/
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
  
}
h1{
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 53, 53);
}
  a:visited {
    color: rgb(188, 148, 112);
  }
  a:hover {
    color: rgb(182, 135, 103);
  }
  a {
    color:rgb(115, 100, 92);
  } 

a.column-list{
  color: rgb(53, 53, 53);
}
  ul.column-list {
    padding-left: 25px;
  }
  h2.column-head {
    margin-left: 40px;
  }
  div.column {
    max-width: 200px;
  }
  .row {
    background-color: rgb(160, 138, 127);
    color: rgb(53, 53, 53)
  }
  .column {
    float: left;
    width: 25%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.social-media {
  text-align: center;
  float: right;
  background-color:rgb(160, 138, 127);
  color: rgb(53, 53, 53);
  font-size: 17px;
  width: 120px;
  border-radius: 20px;
  padding: 5px 20px 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
}

.presentation {
  display: inline;
}
  .background {
    display: block;
    margin-top: -15px;
    margin-bottom: 5px;
  }

h3.current-project {
  margin-bottom: -10px;
}
  .project-cosplay-pic {
    margin: -10px 0px 0px;
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgb(160, 138, 127);
  }

h4.contact-info{
  margin-bottom: -10px;
}
  .send-btn {
    color: rgb(53, 53, 53);
    background-color: rgb(160, 138, 127);
    border-radius: 5px;
  }
  .send-btn:hover {
    background-color: rgb(188, 148, 112);
  }

footer {
    color: rgb(143, 129, 121);
    margin-top: 30px;
}